.updateSection{
    width: 100%;
    height: 100vh;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    .inputUpdate{
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
}

